*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --lighter: #31112C;/* linear-gradient(159deg,rgb(45,45,58) 0%, rgb(43,43,53) 100%); */
  --background:#7D0633;
  --imgheight:800px;
}

body{
  width: 100%;
  background-color: var(--background);
  color:#fff;
}

.Banner{
  
  background: var(--lighter);
  height:100vh;
}

@media (max-width: 520px) {
  .Banner{
    
  }
  .Project{
    
    
  }
}

.Container1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem 0;
  max-width: 1280px;
  
}



.Logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}

.logoimg{
  height: 6rem;
  width: 7.5rem;
}

.Logo span{
  font-size: 1.7rem;
  color:#F2A07B;
}

.Logo h1{
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 17px;
}

.Nav span{
  margin-left: 1rem;
}

.Nav a{
  color:#fff;
  text-decoration: none;
  font-weight: 400;
  position:relative;
}
.Nav a::before{
   content: "";
   position: absolute;
   left: 5px;
   right: 5px;
   bottom: 5px;
   height: 2px; 
   background-color: #FBDCC4;
   transform: scale(0);
   transform-origin: left;
   transition: transform 400ms ease-in-out;
}

.Nav a:hover::before{
  transform: scale(1);
  transform-origin: right;
}

.Nav a:hover{
  opacity: 0.7;
}






.Contain{
  display:flex;
  gap:2rem;
  padding:0 3rem;
  width:80%;
  max-width:1280;
  margin:0 auto;
  padding-top: 2rem;
  
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}
.Text{
  flex:1;
}

.Text h4{
  padding: 1rem 0;
  font-weight: 500;
}

.green{
  color: #F2A07B;
}

.green2{
  background-color: #F2A07B;
  margin-top: 3rem;
}

.green2:hover{
  background-color: #FBDCC4;
  color: black;
}

.Text h1{
  font-size: 2.1rem;
  font-family: 'Secular One', sans-serif;
  letter-spacing: 2px;
}

/* .Text h3{
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  position: relative;
  color: var(--lighter);
  -webkit-text-stroke: 0.02vw #FBDCC4;
}
 */
.Text p{
  font-weight: 300;
  font-size: 1.3rem;
}
.myProf{
  /* position: relative; */
  display: inline-flex;
}

.myProf .dynamic-txts{
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

.dynamic-txts li{
  list-style:none;
  font-size: 1rem;
  animation: slide 9s steps(3) infinite;
  position: relative;
  top:0;
}
@keyframes slide {
  100%{
    top:-120px;
  }
}

.dynamic-txts li h3{
  position: relative;
  margin-left: -30px;
  text-overflow: clip;
  font-size: 30px;
  color: #FBDCC4;
}

.dynamic-txts li h3::after{
  content:"";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #31112C;
  border-left: 2px solid;
  animation: typing 3s steps(25) infinite;
  text-overflow: clip;
}
@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.Text .btn a {
  text-decoration: none;
  color: #000;
}


.Social {
  margin-top:3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Social P{
  font-size: 1.2rem;
}

.Social .social-icons{
  display: flex;
  align-items: center;
  gap:1rem;
}

.Social .social-icons span{
  width:3rem;
  height:2.3rem;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%,75% 100%,25% 100%,0% 50%);
  background-color: #F2A07B;
  position: relative;
  transition: transform 400ms ease-in-out;
  align-items: center;
}

.Social .social-icons span:hover{
  transform: rotate(360deg);
}

.Social .social-icons span a{
  color: #fff;
  position: absolute;
  top: 50%;
  left:50%;
  
  transform: translate(-50%,-50%);
}


.Profile img{
  max-width: 200;
  height:78vh;
  transition: transform 400ms ease-in-out;
  position: relative;
  z-index: 1;
}

.Profile img:hover{
  transform: translateY(-15px);
}

@media (max-width: 840px) {
  .Contain{
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .dynamic-txts li h3{
    font-size: 25px;
  }
  @keyframes slide {
    100%{
      top: -110px;
    }
  }

  .myProf .dynamic-txts{
    height: 30px;
    line-height: 50px;
    overflow: hidden;
  }
  .Text p{
    font-weight: 300;
    font-size: 1.1rem;
  }
  
}

@media (max-width: 790px) {
  .Profile img{
    height: 28rem;
  }
  .dynamic-txts li h3{
    font-size: 17px;
  }
  @keyframes slide {
    100%{
      top: -80px;
    }
  }

  .myProf .dynamic-txts{
    height: 25px;
    line-height: 40px;
    overflow: hidden;
  }
  .Text p{
    font-weight: 300;
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  .Profile img{
    height: 28rem;
    padding-left: 20%;
  }

  .Contain{
    flex-direction: column;
  }

  .Banner{
    height: 100%;
    padding-bottom: 0rem;
  }

  
}

/* ////////////////////////////////////////////////////////////// */

.servicContainer{
  width:85%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 0;
  position: relative;
  z-index: 1;
}

.servicContainer h1{
  padding-top: 1rem;
}

.Cards{
  display: flex;
  margin-top: 4rem;
}

.CardContainer{
  width:100%;
  background: var(--lighter);
  padding: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  
}

.CardContainer span{
  font-size: 4rem;
  color: #FBDCC4;
}

.CardContainer h1{
  font-size: 1.2rem;
  padding-bottom: 1rem;
  color: #F2A07B;
}

.CardContainer p{
  font-size: 0.9rem;
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 840px){
  .servicContainer{
    width:90%;
  }
}

/* ////////////////////////////////////////////////////////////// */

.projectsContainer{
  width:80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}


.projectsContainer h1{
  font-size: 1.9rem;
}

.projectsContainer p{
  
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 0.9rem;
}




.Project{
  background-color: #31112C;
  margin-right: 0px;

}

.slick-slider, .slick-list, .slick-track{
  padding: 1.5rem;
}

.slick-next, .slick-prev  {
  width: 80px;
  height: 80px;
} 

.ProjectContainer{
  height: 14rem;
  background-color:#FBDCC4;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  cursor:pointer;
  position: relative;
  overflow: hidden;
}

.ProjectContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: transform 400ms ease-in-out;
}

.ProjectContainer  .disc{
  position:absolute;
  color: #31112C;
  right: 0;
  left: 0;
  bottom: -18rem;
  text-align: left;
  padding: 0.5rem;
  background-color: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8));
  transition: all 700ms ease-in-out;
  
}

.ProjectContainer .disc h1{
  font-size: 1rem;
  
  font-weight: bold;
}

.ProjectContainer .disc p{
  width: 90%;
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 4px;
  /* text-align: justify; */
}

.ProjectContainer .disc p a{
  margin-left: 0.4rem;
  color: red;
}

.ProjectContainer:hover img{
   transform: scale(1.3); 
  
}




.ProjectContainer:hover .disc{
  bottom: 0;
  background-color: #FBDCC4;
}



.slick-slide .ProjectContainer {
  pointer-events: none;
  opacity: 0.5;
}

.slick-current .ProjectContainer {
  transform: scale(1.3);
  z-index: 10000;  
  pointer-events: all;
  opacity: 1;
  transition: all 700ms ease-in-out;
}


.slick-slider button{
  margin-top: -90px;
}

@media (max-width: 1440px){
  .ProjectContainer .disc p{
    font-size: 0.8rem;
    text-align: none;
    
  }
  .ProjectContainer .disc h1{
    font-size: 1rem;
    
  }
  
 
  
  
}

@media (max-width:640px){
  .ProjectContainer .disc p{
    font-size: 0.6rem;
    
  }
  .ProjectContainer .disc h1{
    font-size: 0.8rem;
    
  }
  
  .ProjectContainer{
    height: 16rem;
    width:85%;
  }

  .projectsContainer{
    width:88%;
  }
  
}

@media (max-width:520px){
  .projectsContainer h1{
    text-align: center;
  }

  .projectsContainer p{
    
  }
}
/* #################################################### */

.clientContainer{
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 0;
}

.clientContainer span {
  font-weight: 700;
  text-transform: uppercase;
}

.clientContainer h1 {
  padding-top: 1rem;
  text-transform: capitalize;
}

.clientslideContainer{
  background: #31112C;
  padding:1.5rem 1rem ;
  margin:0 1rem;
}

.headtestim{
  
  align-items: center;
  justify-content: space-between;
}

.headtestim .quote{
  font-size: 3rem;
  color:#FBDCC4;
  opacity: 0.7;
}
.headtestim .star{
  color:#FBDCC4;
  font-size: 1.3rem;
}


.bodytestim {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
} 

.footertestim{
  display: flex;
  align-items: center;
  gap:1rem
}

.footertestim img{
  width:4rem;
  border-radius: 50px;
}

.footertestim h1{
  font-size: 1.1rem;
  font-weight: 700;
}

.footertestim p{
  font-size: 0.8rem;
  color:#FBDCC4;
}


@media(max-width:840px){
  .clientContainer{
    width: 90%;
  }
}



/* ################################################### */

.Footer {
  background: #31112C;
}

.footerContainer {
  margin-top: 2rem;
  position: relative;
  padding: 2rem 0;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media(max-width:840px){
  .footerContainer{
    width: 90%;
  }
}

.footerProfile {
  flex:1
}

.footerProfile .address{
  padding: 1rem 0;
}

.footerProfile .address h1{
  font-size: 1.2rem;
}

.footerProfile .address p{
  width:60%;
  padding-top: 0.5rem;
}

.footerProfile .links h1{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footerProfile .links div{
  display: flex;
  align-items: center;
  gap:0.5rem;
  
}

.footerProfile .links div a{
  text-decoration: none;
  color:lightgray;
  height: 1.5rem;

}

.footerProfile .links div a:hover{
  color:orange;
}

.footerContainer .profiles h1{
  font-size: 1.2rem;
  padding: 1rem 0;
}

.footerContainer .profiles .icons{
  display: flex;
  align-items: center;
  
}

.footerContainer .profiles .icons span{
  display: block;
  background-color: #000;
  width:3rem;
  height:3rem;
  margin-right: 0.5;
  border-radius: 50px;
  margin:0 0.5rem;
  justify-content: center;
  align-items: center; 
  
}

.footerContainer .profiles .icons span:hover{
  background-color: orange;
}

.footerContainer .profiles .icons span a{
  position: relative;
  display: block;
  margin-left: 8px;
  color: #fff;
  top: 20%;
  left:0%;
  height: 3rem;
  width: 3rem;

}

.footerIcon{
  height: 2rem;
  width: 2rem;
}

.ArrowUp {
  width: 2rem;
  height:2rem;
  background-color: #F2A07B;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top:2rem;
  color: #fff;
}




.form{
  flex:1;  
}
.form h1{
  font-size: 1.3rem;
  padding-bottom:0.7rem;
}

.form form{
  background-color:#7D0633;
  padding: 0.8rem;
  border-radius: 5px;
}

.form form .name,.email,.message{
  display: flex;
  border: 1px solid gray;
  margin-bottom: 0.5rem;
}

.form textarea,input{
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  padding: 1rem 0.5rem;
}

.form span{
  background-color: #F2A07B;
  width: 3rem;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.form .messageicon {
  align-items: flex-start;
  padding-top: 1.1rem;
}

.form button{
  height: 2rem;
  width: 5rem;
  background-color: #F2A07B;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover{
  background-color: #FBDCC4;
}

@media(max-width:650px){
  .footerContainer{
    flex-direction: column;
    gap:3rem;
    width: 90%;
  }
  .footerProfile{
    
  }

  .ArrowUp {
    position: absolute;
    right: 3rem;
    top:16rem;
  }
  
}